
  <launch>

  <arg name="ticks_per_meter" value="10000" />
  <arg name="wheel_separation" value="0.2" />

  <node name="controller" pkg="diff_drive" type="diff_drive_controller"
        output="screen">
    <rosparam subst_value="true">
      ticks_per_meter: $(arg ticks_per_meter)
      wheel_separation: $(arg wheel_separation)
      max_motor_speed: 3000
      timeout: 1.0
    </rosparam>
    <remap from="cmd_vel" to="/robot/cmd_vel" />
  </node>
  
  <node name="odom_publisher" pkg="diff_drive" type="diff_drive_odometry"
        output="screen">
    <rosparam subst_value="true">
      ticks_per_meter: $(arg ticks_per_meter)
      wheel_separation: $(arg wheel_separation)
    </rosparam>
  </node>


  <node pkg="realsense_explorer_control" type="serial_connection.py" name="serial_connection_RobotHW">
    </node>

    
  </launch>